<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="http://image2.youlin.cn/static_image/www/icon_web.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta content="email=no" name="format-detection">
    <meta content="telephone=no" name="format-detection">
</head>
<body>
<div id="app"></div>

</body>
</html>
