li{
    float: left;
    background: #e2d2d2;
    font-size: 3rem;
    width: 33.1%;
    line-height: 6rem;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
