//标题
$TitleColor: #36363d;
//弱标题色
$c-2: #666;
//正文色
$TextColor: #747474;
//注释色
$c-4: #a4a4a4;
//弱标注色
$c-5: #d7d7d5;
$c-6: #494c53;
$c-7: #838383;
//边框线
$LightBorder: #e2e2e0;
$BondBorder: #b3b3b3;
//有邻红
$YouLinRed: #cd6456;
$c-11: #f1f1f1;
$c-12: #fff;
$c-13: #ccc;
